<!--character.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Details</title>
    <!-- Подключение Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="card">
        <img class="card-img-top" th:src="${character.image}" alt="Character Image">
        <div class="card-body">
            <h5 class="card-title" th:text="${character.name}"></h5>
            <p class="card-text">

                <span th:text="|Status: ${character.status} - Species: ${character.species} - Gender: ${character.gender} - Created: ${#dates.format(character.created, 'dd/MM/yyyy')}|"></span>
            </p>
            <a th:href="@{/characters}" class="btn btn-secondary">Back to Character List</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

